{% from 'util.html' import nav_link %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wat?</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static('style.css') }}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Wat?</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {{ nav_link('Home', 'index') }}
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {{ nav_link('Users', 'user_list') }}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if category == 'message' %}
                {% set category = 'info' %}
            {% endif %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% block body %}
        {% endblock %}
    </div>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
